.cart {
    top: 0;
    right: -350px;
    width: 350px;
    height: 100vh;
    position: fixed;
    border-left: 1px solid $lightAccent;
    background-color: white;
    transition: all 0.3s ease;
    z-index: 100;
}
.showCart {
    right: 0;
}
.cartHeader {
    display: flex;
    padding: 10px;
    background-color: $deepAccent;
    color: $white;
    button {
        width: 25px;
        cursor: pointer;
    }
    img {
        object-fit: contain;
        width: 100%;
    }
    h2 {
        margin-bottom: 0;
    }
}
.items {
    overflow-y: scroll;
    height: calc(100vh - 28px - 21px - 96px);
    @include mobile {
        height: calc(100vh - 28px - 21px - 96px - 50px);
    }
}
.itemInCart {
    width: 100%;
    border-bottom: 1px solid $accent2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    img {
        width: 50%;
        object-fit: contain;
        // margin-bottom: 10px;
        border: 5px solid $accent2;
    }
    h3 {
        margin-bottom: 10px;
        @include accentText;
        font-size: 2rem;
        text-align: center;
        color: $deepAccent;
        text-transform: lowercase;
    }
    .price {
        margin-bottom: 10px;
    }
}
.proceedToCheckout {
    padding: 25px;
    background-color: $lightAccent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mobile {
        padding: 50px 25px;
    }
    a {
        color: $text;
        @include accentText;
        font-size: 2.5rem;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 15%;
            display: block;
            height: 5px;
            width: 0;
            background-color: $white;
            transition: all 0.5s ease;
        }
        &:hover::after {
            width: 70%;
        }
    }
}

.controlQuantity {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    .increaseDecrease {
        border: 0;
        cursor: pointer;
        img {
            object-fit: contain;
            width: 25px;
            border: 0;
        }
    }
    .quantityInCart {
        display: block;
        margin: 0 10px;
        @include accentText;
        font-size: 2.3rem;
        line-height: 0.8;
        color: $deepAccent;
    }
}
.removeItem {
    margin-top: 10px;
    text-transform: lowercase;
    // background-color: $accent2;
    cursor: pointer;
    color: $deepAccent;
    padding: 2px;
}

.emptyCart {
    span {
        display: block;
        @include accentTextItalic;
        font-size: 2rem;
        text-align: center;
        margin-top: 25px;
    }
}