.footer {
    background-color: $lightAccent;
    padding: 50px 0;
    margin-top: 100px;
    width: 100%;
    a {
        display: inline-block;
        width: auto;
        margin-bottom: 10px;
        font-size: 1.2rem;
        position: relative;
        color: $accent2;
        text-transform: lowercase;
        font-size: 1.5rem;
        &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $accent2;
            opacity: 0;
            transition: all 0.5s ease;
        }
        &:hover::after {
            opacity: 1;
        }
    }
    .footerContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        @include mobile {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    .footerNav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 30%;
        @include mobile {
            margin-bottom: 15px;
        }
    }
    .innerContainer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 60%;
        @include mobile {
            flex-direction: column;
        }
    }
    .contact {
        @include mobile {
            margin-bottom: 25px;
        }
        .colon {
            height: 10px;
        }
        p {
            @include accentText;
            font-size: 2.2rem;
            @include tablet {
                font-size: 1.8rem;
            }
            @include mobile {
                font-size: 1.5rem;
            }
        }
    }
    .youAreGood {
        width: 15%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include mobile {
            width: 100%;
        }
        img {
            object-fit: contain;
            width: 100%;
            @include mobile {
                height: 100px;
            }
        }
    }
    .credit {
        text-transform: lowercase;
        margin-top: 25px;
        text-align: center;
        p, a {
            color: $accent2;
            &:first-of-type {
                margin-bottom: 10px;
            }
        }
    }
}