// Shop overview page
.shop {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h2 {
        width: 100%;
        text-transform: capitalize;
    }
    .soldOut {
        @include accentTextItalic;
        font-size: 1.7rem;
        position: relative;
        display: inline-block;
        text-transform: lowercase;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 5px;
            background-color: $lightAccent;
            position: absolute;
            bottom: 5px;
            left: 0;
        }
    }
    .promoBanner {
        width: 100%;
        padding: 25px;
        background-color: $accent2;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        border: 5px solid #ead6cc;
        @include mobile {
            margin-bottom: 25px;
        }
        span {
            display: block;
            font-size: 5rem;
            color: #f4e1d7;
            line-height: 0.9;
            @include mobile {
                font-size: 3.5rem;
            }
        }
        p {
            @include accentTextItalic;
            font-size: 2.3rem;
            @include mobile {
                font-size: 1.7rem;
            }
        }
    }
    .notAvailable {
        text-decoration: line-through;
        color: rgba(38, 38, 38, 0.5);
    }
    .products {
        width: calc(100% / 2 - 50px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @include smallLaptop {
            width: calc(100% / 2 - 25px);
        }
        @include mobile {
            width: 100%;
        }
        .productContainer {
            width: 100%;
            margin-bottom: 50px;
        }
        .productPreview {
            width: 100%;
            position: relative;
            img {
                object-fit: contain;
                width: 100%;
            }
        }
        button {
            background-color: transparent;
            border: 0;
            height: 25px;
            cursor: pointer;
            img {
                object-fit: contain;
                height: 100%;
            }
        }
        .addToCart {
            position: absolute;
            bottom: 0px;
            left: 0px;
            transition: all 0.2s ease;
            height: 0px;
            width: 100%;
            background-color: rgba(250, 250, 250, 0.3);
            overflow: hidden;
            text-align: center;
            button {
                font-size: 1rem;
                color: $text;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            img {
                display: inline-block;
                object-fit: contain;
                width: 25px;
            }
        }
        .productPreview:hover .addToCart {
            height: 40px;
        }
        .productInfo {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }
}

// Filter sidebar on homepage
.filter {
    margin-top: 5px;
    position: fixed;
    transform: translateX(calc(-100% - 35px));
    @include tablet {
        position: relative;
        transform: none;
        min-width: 100%;
    }
    h3 {
        letter-spacing: 1px;
        font-size: 1.4rem;
        margin-bottom: 10px;
        text-align: right;
        text-transform: lowercase;
        @include tablet {
            text-align: left;
        }
    }
    .filterOptions {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        text-align: right;
        @include tablet {
            text-align: left;
        }
        button {
            font-size: 1.8rem;
            @include accentTextItalic;
            position: relative;
            text-transform: lowercase;
            margin-bottom: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            background-color: transparent;
            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 100%;
                height: 10px;
                background-color: $lightAccent;
                z-index: -1;
                opacity: 0;
                transition: all 0.3s ease;
            }
            &:hover::after {
                opacity: 1;
            }
        }
    }
    button.selectedFilter {
        position: relative;
        transition: all 0.3s ease;
        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10px;
            background-color: rgba(195, 164, 146, 0.7);
            opacity: 1;
            z-index: -1;
            transition: all 0.3s ease;
        }
    }
}

// Once a user clicks on a product, this is the product details page
.productDetails {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mobile {
        flex-direction: column;
    }
    h2 {
        @include mobile {
            margin-top: 25px;
        }
    }
    .backToAll {
        width: 100%;
        margin-bottom: 25px;
        a {
            @include accentText;
            font-size: 1.7rem;
            position: relative;
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0px;
                left: 0;
                height: 10px;
                width: 0;
                background-color: $lightAccent;
                transition: all 0.3s ease;
                z-index: -1;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
    .imagesContainer {
        width: 60%;
        @include mobile {
            width: 100%;
        }
        .selectedImage {
            img {
                object-fit: contain;
                width: 100%;
                border: 1px solid $lightBorder;
                animation: 0.5s ease-in 0s 1 forwards textReturn;
            }
        }
        .imageThumbnails {
            margin-top: 25px;
            img {
                cursor: pointer;
                object-fit: cover;
                width: 100px;
                height: 100px;
                object-position: center;
                margin-right: 10px;
                border: 5px solid transparent;
            }
            .selectedThumbnail {
                border: 5px solid rgba(195, 164, 146, 0.7);
                transition: all 0.3s ease;
            }
        }
    }
    .description {
        width: calc(40% - 50px);
        @include mobile {
            width: 100%;
        }
    }
    .variant {
        margin-bottom: 25px;
        select {
            margin-top: 10px;
            display: block;
            border: 1px solid $accent2;
            padding: 10px;
        }
    }
    .addToCart {
        margin-top: 25px;
        button {
            min-width: 100px;
            height: 28px;
            margin: 0;
            background-color: transparent;
            border: 1px solid $border;
            cursor: pointer;
            transition: all 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: $lightAccent;
            }
            img {
                width: 18px;
                object-fit: contain;
                display: none;
                opacity: 0;
            }
        }
        .inactiveButton {
            &:hover {
                background-color: transparent;
            }
        }
    }
    .productDescription {
        padding-top: 25px;
        line-height: 1.5;
        margin-bottom: 25px;
    }
    .variantError {
        margin-top: 10px;
        font-size: 1.8rem;
        @include accentTextItalic;
    }
    .soldOutNotification {
        @include accentTextItalic;
        font-size: 2rem;
    }
}

.buttonFadeOut {
    animation: 0.2s ease-in 0s 1 forwards buttonFadeOut;
}

.buttonFadeIn {
    animation: 2s ease-in 0s 1 forwards buttonFadeIn;
    display: block;
}

.textReturn {
    animation: 0.5s ease-in 0s 1 forwards textReturn;
}

@keyframes buttonFadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes buttonFadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes textReturn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}